<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <title>{% block title %}JIRA worklog report{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bower_components/glyphicons/styles/glyphicons.css') }}" />
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}

<script src="{{ asset('bower_components/jquery/dist/jquery.slim.min.js') }}"></script>
<script src="{{ asset('bower_components/tether/dist/js/tether.min.js') }}"></script>
<script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
